@model  IEnumerable<ITP245_2021_Fall.Models.AboutModel>

@{
    ViewBag.Title = "About";
}





<h2 class="head">@ViewBag.message @ViewBag.CurrentTime</h2>


<p>
    What I enjoy above all else is reading, learning new things, and having new experiences. When I am not working I am usually reading. I am have an INTP Myers Briggs personality type.
    I have taken the Personalysis personality test and I am a <font color="EE4BRB"><b>Red</b></font>.
</p>

<img scr="~/Views/Home/things.JPG" alt="All the Things Meme" />

<div class=".div">
    <h2>Career Objectives</h2>

    <p>
        Driven by curosity and wanting to learn all the things, my career objectives is to continue to grow by learning through experience and education. My five year goals are listed below.
    </p>

    <ul class="ul">
        <li>
            Pass Exam P: Probability from Society of Actuaries
        </li>
        <li>
            Obtain 4 certifications on the Network & Cloud Technologies path on the CompTIA's <a href="https://certification.comptia.org/docs/default-source/downloadablefiles/it-certification-roadmap">IT Certification Roadmap </a>
        </li>
        <li>
            Take at least one college course in the Fall & Spring indefinitely
        </li>
        <li>
            Earn a Masters or Bacholars Degree in one of the following areas:
            <ul>
                <li>
                    Masters in Business Administration
                </li>
                <li>
                    Masters in Product & Project Management
                </li>
                <li>
                    Robotics & Automation Engineering Degree
                </li>
                <li>
                    Web Development & Design Degree
                </li>

            </ul>
        </li>
    </ul>

    <h2>Education</h2>

    <p>
        <b>MASTER OF DECISION ANALYTICS | PROFESSIONAL TRACK </b> <br />
        Virginia Commonwealth University | 2017 - 2019<br />
        <br />
        <b>NON-DEGREE SEEKING</b><br />
        Virginia Community College System | 2013 - Present <br />
        Christopher Newport University | 2005 - 2006 <br />
        Virginia Commonwealth University | 2003 - 2005 <br />
        <br />
        <b>B.S. CHEMISTRY, MINOR LEADERSHIP</b><br />
        <b>GRADUATE OF VIRGINIA WOMEN'S INSTITUTE FOR LEADERSHIP</b><br />
        Mary Baldwin University | 1999 - 2003
    </p>

</div>

<table class="table">
    <tr>
        <th>
            College
        </th>
        <th>
            Degree
        </th>
        <th>
            Years
        </th>

    </tr>

</table>


